.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141e46;
  padding: 20px;
  margin: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 100px;

  .userData {
    text-align: center;
    padding: 20px;
    background-color: #c70039;
    color: #ecdddd;
    width: 80%;
    min-width: 300px;
    margin: 20px;

    .title {
      margin-bottom: 10px;
      font-size: 25px;
      border-bottom: 1px solid #141e46;
    }
  }

  p {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 30px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
  }

  li {
    color: #141e46;
    width: 300px;
    padding: 20px;
    background-color: #fff5e0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(103, 71, 71);
    text-align: center;
  }
}
