.parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #31304d;
  margin-bottom: 100px;
  flex-direction: column;
}

.card {
  background-color: #b6bbc4;
  padding: 40px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
