/* You can add global styles to this file, and also import other style files */
app-home {
  width: 100%;
}

app-contact {
  width: 100%;
}

app-single-user,
app-no-permission,
app-cricket {
  width: 100%;
}
